#toolbar div {
  margin-bottom: 2px;
}
#toolbar div { text-align: center; width: 1em; border: 1px solid #808080; border-radius: 3px; padding: 5px; margin-bottom:8px; opacity:0.75; cursor:pointer; -webkit-user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; touch-action:none; -ms-touch-action:none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; background-color: white; }
