#ubhd3d {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 100%;
  height: 100%;
}

.ez5-detail-fullscreen-object #ubhd3d {
  width: 90%;
  min-width: 90%;
}

#ubhd3diframe, #threeiframe {
  width: 100%;
  height: 100%;
}
#toolbar div {
  margin-bottom: 2px;
}
